<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Nutrient Prediction </title>
	<!-- Bootstrap core CSS -->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Fontawesome CSS -->
	<link href="css/all.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="css/style.css" rel="stylesheet">
</head>
<body>
	<!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" alt="logo" />
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="index.html">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link active" href="about.html">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="main.html">Services</a>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Suggestion
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="portfolio-1-col.html">Importance of Soil Fertility</a>
                        <a class="dropdown-item" href="portfolio-2-col.html">Natural Fertility</a>
                        <a class="dropdown-item" href="portfolio-3-col.html">Acquired Fertility</a>
                        <a class="dropdown-item" href="portfolio-4-col.html">Ways to improve</a>
                        <a class="dropdown-item" href="portfolio-item.html">Explain Ways</a>
                     </div>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Pages
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" href="faq.html">FAQ</a>
                        <a class="dropdown-item" href="404.html">404</a>
                     </div>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="contact.html">Contact</a>
                  </li>
               </ul>
            </div>
        </div>
    </nav>
	<!-- full Title -->
	<div class="full-title">
		<div class="container">
			<!-- Page Heading/Breadcrumbs -->
			<br>
			<h1 class="mt-4 mb-3">About
				
			</h1>
		</div>
	</div>
    <!-- Page Content -->
    <div class="container">
		<div class="breadcrumb-main">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="index.html">Home</a>
				</li>
				<li class="breadcrumb-item active">About</li>
			</ol>
		</div>
		<!-- About Content -->
		<div class="about-main">
			<div class="row">
				<div class="col-lg-6">
					<img class="img-fluid rounded mb-4" src="images/about-img.jpg" alt="" />
				</div>
				<div class="col-lg-6">
					<h2>About pH Soil Prediction</h2>
					<p>“Irrigation is the application of controlled amounts of water to plants at needed intervals.” To take irrigation to another level we dared our creative minds to think out of the box and here we ended up making an “Irrigation Prediction”.</p>
					<p>This is suggested by our HOD sir to share our idea with the agriculture department and the agriculture HOD sir appoint a Sukanya ma'am she suggests us to nutrient because further, no one can make a project on that (real world ) pH soil with Nutrient.</p>
					<p>{As I think we are an IT Engineer it's our work no one can go back lab, again and again, we create dataset use machine learning and predict the result } </p>
				</div>
			</div>
			<!-- /.row -->
		</div>

		<!-- Team Members -->
		<div class="team-members-box">  
			<h2>Our Team</h2>
			<div class="row">
				<div class="col-lg-4 mb-4">
				  <div class="card h-100 text-center">
					<img class="card-img-top" src="images/team_01.jpg" alt="" />
					<div class="card-body">
						<h4 class="card-title">Abhishek Yadav</h4>
						<h6 class="card-subtitle mb-2 text-muted">Full Stack Developer</h6>
						<p class="card-text">Playing a mazer role in this project create a website, work on Machine Learning.</p>
					</div>
					<div class="card-footer">
						<ul>
							<li><a href="https://github.com/Abhishekyadav99"><i class="fab fa-github"></i></a></li>
							<li><a href="https://www.instagram.com/abhishek._.av/"><i class="fab fa-instagram"></i></a></li>
							<li><a href="https://www.linkedin.com/in/abhishek-yadav-55645316b/"><i class="fab fa-linkedin"></i></a></li>
						</ul>
					</div>
				  </div>
				</div>
				<div class="col-lg-4 mb-4">
				  <div class="card h-100 text-center">
					<img class="card-img-top" src="images/team_02.png" alt="" />
					<div class="card-body">
						<h4 class="card-title">Siddhant Vyas</h4>
						<h6 class="card-subtitle mb-2 text-muted">Web Developer</h6>
						<p class="card-text">Front End Developer, also work in Research work.</p>
					</div>
					<div class="card-footer">
						<ul>
							<li><a href="#"><i class="fab fa-github"></i></a></li>
							<li><a href="https://www.instagram.com/the_sarcastic_guitarist31/"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
						</ul>
					</div>
				  </div>
				</div>
				
				<div class="col-lg-4 mb-4">
				  <div class="card h-100 text-center">
					<img class="card-img-top" src="images/team_03.jpeg" alt="" />
					<div class="card-body">
						<h4 class="card-title">Sachin Panday</h4>
						<h6 class="card-subtitle mb-2 text-muted">Researcher</h6>
						<p class="card-text">main work in Research Create data set for Prediction.</p>
					</div>
					<div class="card-footer">
						<ul>
							<li><a href="#"><i class="fab fa-github"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
						</ul>
					</div>
				  </div>
				</div>


			</div>
			<!-- /.row -->
		</div>
		<!-- Our Customers -->
		<div class="customers-box"> 
			<h2>Our Support</h2>
			<div class="row">
				<div class="col-lg-2 col-sm-4 mb-4">
				  <img class="img-fluid" src="images/logo_01.jpg" alt="" />
				</div>
				<div class="col-lg-2 col-sm-4 mb-4">
				  <img class="img-fluid" src="images/logo_02.png" alt="" />
				</div>
				<div class="col-lg-2 col-sm-4 mb-4">
				  <img class="img-fluid" src="images/logo_03.png" alt="" />
				</div>

			<!-- /.row -->
		</div>
		<!-- /.container -->
	</div>

    <!--footer starts from here-->
    <footer class="footer">
        <div class="container bottom_border">
            <div class="row">
               <div class="col-lg-3 col-md-6 col-sm-6 col">
               <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
               <!--headin5_amrc-->
               <p class="mb10">Follow my blog WizardLearner created by Abhishek Yadav</p>
               <p><i class="fa fa-location-arrow"></i> Hospital Road Vikasnagar </p>
               <p><i class="fa fa-phone"></i> +91-8979584085 </p>
               <p><i class="fa fa fa-envelope"></i> gationirrii@gmail.com </p>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 col">
               <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
               <!--headin5_amrc ends here-->
               <ul class="footer_ul2_amrc">
                  <li>
                     <a href="https://github.com/Abhishekyadav99"><i class="fab fa-github fleft padding-right"></i> </a>
                     <p>Know more about the Project...<a href="#"></a></p>
                  </li>
                  <li>
                     <a href="https://www.linkedin.com/in/abhishek-yadav-55645316b/"><i class="fab fa-linkedin fleft padding-right"></i> </a>
                     <p>Know more about me...<a href="#"></a></p>
                  </li>
                  <li>
                     <a href="https://www.instagram.com/abhishek._.av/"><i class="fab fa-instagram fleft padding-right"></i> </a>
                     <p>It's about my trip and personal life...<a href="#"></a></p>
                  </li>
               </ul>
               <!--footer_ul2_amrc ends here-->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
               <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
               <!--headin5_amrc-->
               <ul class="footer_ul_amrc">
                  <li><a href="#">Default Version</a></li>
                  <li><a href="#">Boxed Version</a></li>
                  <li><a href="#">Our Team </a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Our Services</a></li>
                  <li><a href="#">Get In Touch</a></li>
               </ul>
               <!--footer_ul_amrc ends here-->
            </div>

         </div>
      </div>
        <div class="container">
            <div class="footer-logo">
            <a href="#"><img src="images/logo.png" alt="" /></a>
         </div>
            <!--foote_bottom_ul_amrc ends here-->
            <p class="copyright text-center">All Rights Reserved. &copy; 2020.May.19 <a href="#"></a> Design By : 
            <a href="https://www.linkedin.com/in/abhishek-yadav-55645316b/">Abhishek Yadav</a>
            </p>
            <ul class="social_footer_ul">
            <li><a href="#"><i class="fab fa-github"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
            <!--social_footer_ul ends here-->
        </div>
    </footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
