<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body bgcolor="orange" align="center">

<form action="/form_login" method="post">
    <br><br><br>
  <h2>Username:</h2><br>
  <input type="text" name='username'><br>
  <h2>Password:</h2><br>
  <input type="password" name='password'><br><br>
<input type="submit" value="Login">
</form>
<h1 >{{info}}</h1>

</body>
</html>
